@use "../../style/" as *;

.btn {
  width: 100%;
  height: 43px;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
  border: 1px solid $primary;
  opacity: 0.9;
  @include animate;

  &:hover {
    opacity: 1;
  }
}

.btn.primary {
  background-color: $primary;
  color: $white !important;
}

.btn.secondary {
  background-color: $white;
  color: $primary;
  border: 1px solid;

  &:hover {
    background-color: $bg-color !important;
  }
}

.btn.small {
  display: inline-block;
  width: auto !important;
  min-width: 100px;
  height: fit-content;
  padding: 8px;
  font-size: 1rem;
}

.btn.delete {
  color: $declined-color !important;
  background-color: $declined-bg !important;
  border-color: $declined-bg;
}

.btn.edit {
  color: $job-offer-color !important;
  background-color: $job-offer-bg !important;
  border-color: $job-offer-bg;
}

.btn.logout {
  color: $white;
  background-color: $tomato;
  border-color: $tomato;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
