@mixin shadow {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin animate {
  transition: all 0.3s ease;
}
