@use "../../style/" as *;

.footer {
  background-color: $white;
  @include center;
  padding: 20px;
  color: $grey;
  font-size: 1rem;
  border-top: 1px solid $border-color;

  > section {
    width: 100%;
    @include center;
    flex-direction: column;
  }
}
