@use "../../style/" as *;

.dropdown {
  position: relative;

  .dropdown__selected {
    background-color: $bg-color;
    padding: 5px 10px;
    border: 1px solid $border-color;
    border-radius: 6px;
    cursor: pointer;
  }

  .dropdown__items {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $white;
    border-radius: 6px;
    overflow: hidden;

    & > section {
      cursor: pointer;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-bottom: 4px;
      }

      &:hover {
        background-color: $primary;
        color: $white;
      }
    }
  }
}
