@use "../../style/" as *;

.form {
  background-color: $white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid $border-color;
  margin-bottom: 20px;

  .form-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;

    .input__wrapper {
      margin-bottom: 0 !important ;
      flex: 1;
    }

    .dropdown {
      flex: 1;
    }
  }

  .reset-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .form-title {
    color: $grey;
    margin-bottom: 10px;
  }
}
